*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

body {
    background: #162831;
  }

  .visit h1 {
    position: absolute;
    width: 336px;
    height: 59px;
    left: 792px;
    top: 890px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
  }

  .visit h1::before {
    content: "";
    background-color: rgb(6, 135, 248);
    width: 28px;
    height: 14px;
    border-radius: 50px 0;
    position: absolute;
    left: 425px;
    top: 20px;
  }

  .visit::after {
    content: "";
    background-color: rgb(6, 135, 248);
    width: 28px;
    height: 14px;
    border-radius: 0 50px;
    position: absolute;
    left: 690px;
    top: 905px;
  }

  .aquaritm {
    position: absolute;
    width: 587px;
    height: 180px;
    left: 400px;
    top: 200px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 140%;
    text-align: center;
  }
  .healt {
    position: absolute;
    width: 241px;
    height: 34px;
    left: 580px;
    top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
  }

  .menucentr {
    position: absolute;
    width: 680px;
    height: 40px;
    left: 585px;
    top: 50px;
  }
  .navigation li a {
    font-family: 'Comfortaa', cursive;
  }
  
  .firstlook {
    font-family: 'El Messiri', sans-serif;
  }
  
  .clearfix {
    clear: both;
  }
  
  .fl {
    float: left;
  }
  
  .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 13px;
    overflow: auto;
  }
  
  .container {
    overflow: hidden;
    position: relative;
   
  }
  
  .container h1 {
    font-family: 'El Messiri'; 
  }
  
  .container-big {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 13px;
    overflow: auto; 
  }
  
  .navigation {
    color: white; 
  }
  
  .navigation li {
    float: left; 
  }
  
  .navigation li a {
    float: left;
    padding: 0 13px;
  }
  
  .header-button {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px;
  gap: 10px;
  float: right;
  width: 155px;
  height: 36px;
  left: 1455px;
  top: 43px;
  background: #018ABE;
  border-radius: 3px;
  }
  
  .firstlook {
    color: white;
    margin-top: 79px;
  }
  
  .healt::before {
    content: "";
    background-color: aliceblue;
    width: 28px;
    height: 14px;
    border-radius: 50px 0;
    position: absolute;
    left: -100px;
  }

  .healt::after {
    content: "";
    background-color: aliceblue;
    width: 28px;
    height: 14px;
    border-radius: 0 50px;
    position: absolute;
    left: 300px;
  }

  .standart {
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
   }

 .diving {
  position: relative;
  width: 415px;
  height: 540px;
  left: 250px;
  top: 265px;
 }

 .together {
    position: absolute;
    left: 30px;
    bottom: 295px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
 }

 .divingsmalltwo {
  position: relative;
  width: 415px;
  height: 540px;
  left: 690px;
  top: -535px;
 }

 .underwater {
    position: absolute;
    left: 30px;
    bottom: 295px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
 }

 .divingsmall {
  position: relative;
  width: 415px;
  height: 540px;
  left: 690px;
  top: -275px;
 }

 .babyboom {
    position: absolute;
    left: 30px;
    bottom: 295px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
 }

 .divingsmallthree {
  position: relative;
  width: 415px;
  height: 540px;
  left: 1130px;
  top: -1355px;
 }

 .fotoset {
    position: absolute;
    left: 30px;
    bottom: 295px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
 }

 .divingsmallfour {
  position: relative;
  width: 415px;
  height: 540px;
  left: 1130px;
  top: -1620px;
 }

 .table {
  position: absolute;
  left: 50px;
 }

 .bigimgone {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
 }

 .bigimgone img {
    width: 100%;
    height: auto;
 }

 .checkin {
  font-size: 13px;
 }


 .reviewsone {
  position: absolute;
  width: 154px;
  height: 59px;
  left: 883px;
  top: 1739px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
 }


.reviews::after {
  content: "";
  background-color: rgb(6, 135, 248);
  width: 28px;
  height: 14px;
  border-radius: 0 50px;
  position: absolute;
  left: -80px;
  top: 15px;
}

.reviews::before {
  content: "";
  background-color: rgb(6, 135, 248);
  width: 28px;
  height: 14px;
  border-radius: 50px 0;
  position: absolute;
  left: 200px;
  top: 20px;
}

.namekira {
  position: absolute;
  width: 516px;
  height: 28px;
  left: 702px;
  top: 1948px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
}

.textfirst {
  position: absolute;
  width: 516px;
  height: 196px;
  left: 702px;
  top: 1996px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}

.writes {
  position:relative;
  width: 636px;
  height: 350px;
  left: 625px;
  top: 1075px;
  background: #018ABE;
  border-radius: 10px;
}

.kiratext {
  position: absolute;
  left: -652px;
  top: -1920px;
}


.nameyana {
  position: absolute;
  width: 410px;
  height: 22px;
  left: 1373px;
  top: 1975px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.4;
}

.texttwo {
  position: absolute;
  width: 410px;
  height: 142px;
  left: 1373px;
  top: 2012px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.4;
}

.writestwo {
  position: relative;
  width: 500px;
  height: 276px;
  left: 1330px;
  top: 760px;
  background: #018ABE;
  border-radius: 10px;
  opacity: 0.4;
}

.yanatext {
  position: absolute;
  left: -1340px;
  top: -1935px;
}


.namesasha {
  position: absolute;
  width: 410px;
  height: 22px;
  left: 1373px;
  top: 1975px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.4;
}

.textthree {
  position: absolute;
  width: 410px;
  height: 142px;
  left: 1373px;
  top: 2012px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.4;
}

.writesthree {
  position: relative;
  width: 500px;
  height: 276px;
  left: 55px;
  top: 480px;
  background: #018ABE;
  border-radius: 10px;
  opacity: 0.4;
}

.sashatext {
  position: absolute;
  left: -1340px;
  top: -1935px;
}

.scrollone {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 810px;
  top: 400px;
  background: #FFFFFF;
  border-radius: 3px;
 
}
.scrolltwo {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 840px;
  top: 400px;
  background: #FFFFFF;
  border-radius: 3px;
  opacity: 0.4;
}
.scrollthree {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 870px;
  top: 400px;
  background: #FFFFFF;
  border-radius: 3px;
  opacity: 0.4;
}
.scrollfour {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 900px;
  top: 400px;
  background: #FFFFFF;
  border-radius: 3px;
  opacity: 0.4;
}


.scrollquadra {
  position: absolute;
  left: 50px;
}


.about {
  position: absolute;
  width: 243px;
  height: 59px;
  left: 839px;
  top: 2474px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}


.about::after {
  content: "";
  background-color: rgb(6, 135, 248);
  width: 28px;
  height: 14px;
  border-radius: 0 50px;
  position: absolute;
  left: -80px;
  top: 15px;
}

.about::before {
  content: "";
  background-color: rgb(6, 135, 248);
  width: 28px;
  height: 14px;
  border-radius: 50px 0;
  position: absolute;
  left: 300px;
  top: 20px;
}

.massage {
position: absolute;
width: 406.28px;
height: 34px;
left: 422px;
top: 2699px;
font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
color: #FFFFFF;
}

.massagetext {
  position: absolute;
  width: 466px;
  height: 170px;
  left: 422px;
  top: 2763px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.blackwater {
  position: absolute;
  width: 526px;
  height: 365px;
  left: 972px;
  top: 2633px;
  border-radius: 10px;
}

.hydro {
  position: absolute;
  width: 415px;
  height: 34px;
  left: 1032px;
  top: 3115px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.gydrotext {
  position: absolute;
  width: 530px;
  height: 302px;
  left: 1030px;
  top: 3180px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.blackwatertwo {
  position: absolute;
  width: 525px;
  height: 400px;
  left: 420px;
  top: 3100px;
  border-radius: 10px;
}

.priceone {
  position: absolute;
  width: 372px;
  height: 59px;
  left: 774px;
  top: 3648px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}


.priceone::after {
  content: "";
  background-color: rgb(6, 135, 248);
  width: 28px;
  height: 14px;
  border-radius: 0 50px;
  position: absolute;
  left: -80px;
  top: 15px;
}

.priceone::before {
  content: "";
  background-color: rgb(6, 135, 248);
  width: 28px;
  height: 14px;
  border-radius: 50px 0;
  position: absolute;
  left: 420px;
  top: 20px;
}

.priceul {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 50px;
  position: absolute;
  width: 416px;
  height: 250px;
  left: 422px;
  top: 3910px;
}

.pricenumbers {
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 50px;
  text-align: right;
  color: #FFFFFF;
  position: absolute;
  width: 416px;
  height: 250px;
  left: 35px;
  top: 5px;
}

.nameprice li::before {
  content: "";
  background-color: rgb(6, 135, 248);
  width: 28px;
  height: 14px;
  border-radius: 0 50px;
  position: absolute;
  left: -50px;
  margin-top: 15px;
}

.imgthanks {
  box-sizing: border-box;
  position: absolute;
  width: 526px;
  height: 396px;
  border: 1px solid #000000;
  border-radius: 10px;
}

.sertificat {
  position: absolute;
  width: 241px;
  height: 29px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  left: 155px;
}

.thanks {
  position: absolute;
  left: 565px;
  top: -95px;
}

.map {
  position: absolute;
width: 856px;
height: 604px;
left: 312px;
top: 4412px;
}

.workclass {
  position: absolute;
  width: 302px;
  height: 34px;
  left: 1255px;
  top: 4447px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.workclasstwo {
  position: absolute;
  width: 302px;
  height: 34px;
  left: 1255px;
  top: 4761px;
  font-family: 'El Messiri';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}
.footer-button-one{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;
  gap: 10px;
  position: absolute;
  width: 155px;
  height: 36px;
  left: 1255px;
  top: 4631px;
  background: #FFFFFF;
  border-radius: 3px;
}

.checkintwo {
  width: 125px;
  height: 18px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 90%;
  color: #018ABE;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.checkinthree {
  width: 125px;
  height: 18px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 90%;
  color: #018ABE;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-button-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;
  gap: 10px;
  position: absolute;
  width: 155px;
  height: 36px;
  left: 0px;
  top: 140px;
  background: #FFFFFF;
  border-radius: 3px;
}

  .nevskyi {
    position: absolute;
    width: 262px;
    height: 19px;
    left: 1295px;
    top: 4502px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
  }

  .metro {
    position: absolute;
    width: 262px;
    height: 19px;
    left: 1295px;
    top: 4542px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
  }

  .deal {
    position: absolute;
    width: 262px;
    height: 19px;
    left: 1295px;
    top: 4582px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
  }

  .fontall {
    position: absolute;
    width: 262px;
    height: 19px;
    left: 1255px;
    top: 4490px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
  }

  .ivanova {
    position: absolute;
    width: 262px;
    height: 19px;
    left: 1295px;
    top: 4816px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
  }

  .metrotwo {
    position: absolute;
    width: 262px;
    height: 19px;
    left: 1295px;
    top: 4856px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
  }

  .dealtwo {
    position: absolute;
    width: 262px;
    height: 19px;
    left: 1295px;
    top: 4896px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #FFFFFF;
  }

  .fontalltwo {
    position: absolute;
    width: 262px;
    height: 19px;
    left: 1255px;
    top: 4805px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #FFFFFF;
  }